.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #739aa8;
}

.page-container {
  background-color: white;
  padding-bottom: 150px;
  box-shadow: 0 0 75px rgba(0, 0, 0, .5);
}

.push-from-top {
  padding-top: 100px;
}

.bg-awesomeblue {
  background-color: #8cbbcc
}

.navbar {
  margin-left: -15px;
  margin-right: -15px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  margin-bottom: 20px;
}

.navbar-brand {
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  font-family: 'Lobster', cursive;
  font-size: 28px;
}

.page-title {
  font-family: 'Raleway', sans-serif;
}
